Yahoo query is a wrapper for yahoo finance, install it using pip
https://github.com/dpguthrie/yahooquery

Getting price history for stock based on ticker
Go to Yahoo finance website, type company name and get the ticker
https://in.finance.yahoo.com/

In [19]:
from yahooquery import Ticker
tick = Ticker('LT.NS ', asynchronous=True)
#For fetching data through multiple tickers
#tick = Ticker('LT.NS ICICIBANK.NS', asynchronous=True)

Getting brief summary of a stock

In [21]:
summary = tick.summary_detail
summary

{'LT.NS': {'maxAge': 1,
  'priceHint': 2,
  'previousClose': 1520.2,
  'open': 1530.0,
  'dayLow': 1505.0,
  'dayHigh': 1558.0,
  'regularMarketPreviousClose': 1520.2,
  'regularMarketOpen': 1530.0,
  'regularMarketDayLow': 1505.0,
  'regularMarketDayHigh': 1558.0,
  'dividendRate': 18.0,
  'dividendYield': 0.0124,
  'exDividendDate': '2020-11-04 05:30:00',
  'payoutRatio': 0.84550005,
  'fiveYearAvgDividendYield': 1.37,
  'beta': 0.855436,
  'trailingPE': 18.691687,
  'forwardPE': 26.431784,
  'volume': 6195999,
  'regularMarketVolume': 6195999,
  'averageVolume': 5688887,
  'averageVolume10days': 6786390,
  'averageDailyVolume10Day': 6786390,
  'bid': 0.0,
  'ask': 1528.55,
  'bidSize': 0,
  'askSize': 0,
  'marketCap': 2146756984832,
  'fiftyTwoWeekLow': 661.0,
  'fiftyTwoWeekHigh': 1593.0,
  'priceToSalesTrailing12Months': 1.5877053,
  'fiftyDayAverage': 1329.5458,
  'twoHundredDayAverage': 1065.1625,
  'trailingAnnualDividendRate': 8.0,
  'trailingAnnualDividendYield': 0.0052624657,
  'currency': 'INR',
  'fromCurrency': None,
  'toCurrency': None,
  'lastMarket': None,
  'algorithm': None,
  'tradeable': False}}

In [22]:
history = tick.history()
history

                          open          low         high        close  \
symbol date
LT.NS  2021-01-01  1283.000000  1283.000000  1299.949951  1297.000000
       2021-01-04  1305.000000  1302.000000  1322.550049  1314.599976
       2021-01-05  1307.000000  1295.050049  1313.000000  1306.300049
       2021-01-06  1308.000000  1300.000000  1330.000000  1314.000000
       2021-01-07  1330.000000  1325.000000  1346.800049  1338.949951
       2021-01-08  1349.800049  1347.000000  1382.949951  1373.400024
       2021-01-11  1382.000000  1345.000000  1384.949951  1350.000000
       2021-01-12  1354.000000  1344.050049  1366.849976  1349.800049
       2021-01-13  1354.000000  1344.300049  1373.000000  1352.500000
       2021-01-14  1358.000000  1356.250000  1389.699951  1376.599976
       2021-01-15  1376.699951  1345.050049  1384.500000  1354.150024
       2021-01-18  1345.199951  1326.150024  1353.849976  1336.050049
       2021-01-19  1340.050049  1337.000000  1382.000000  1369.849976
       2021-01-20  1369.000000  1362.550049  1393.050049  1382.650024
       2021-01-21  1395.000000  1361.050049  1396.000000  1371.300049
       2021-01-22  1362.000000  1348.500000  1375.000000  1362.099976
       2021-01-25  1370.000000  1342.000000  1396.400024  1361.300049
       2021-01-27  1368.800049  1330.099976  1392.699951  1359.849976
       2021-01-28  1344.699951  1340.000000  1365.099976  1345.349976
       2021-01-29  1362.000000  1325.099976  1369.000000  1334.699951
       2021-02-01  1345.750000  1337.199951  1462.000000  1448.849976
       2021-02-02  1474.000000  1474.000000  1593.000000  1520.199951
       2021-02-03  1530.000000  1505.000000  1558.000000  1528.550049

                     volume     adjclose
symbol date
LT.NS  2021-01-01   2058419  1297.000000
       2021-01-04   4014636  1314.599976
       2021-01-05   2833637  1306.300049
       2021-01-06   4615963  1314.000000
       2021-01-07   4270598  1338.949951
       2021-01-08   4984995  1373.400024
       2021-01-11   3252470  1350.000000
       2021-01-12   2836161  1349.800049
       2021-01-13   4389762  1352.500000
       2021-01-14   5168591  1376.599976
       2021-01-15   2587576  1354.150024
       2021-01-18   3185998  1336.050049
       2021-01-19   3885798  1369.849976
       2021-01-20   3957992  1382.650024
       2021-01-21   2985423  1371.300049
       2021-01-22   3282665  1362.099976
       2021-01-25   4847989  1361.300049
       2021-01-27   8896211  1359.849976
       2021-01-28   2962948  1345.349976
       2021-01-29   5130876  1334.699951
       2021-02-01  11317043  1448.849976
       2021-02-02  14349665  1520.199951
       2021-02-03   6195999  1528.550049

In [23]:
income_statement = tick.income_statement()
income_statement

,asOfDate,periodType,BasicAverageShares,BasicEPS,CostOfRevenue,DepreciationAndAmortizationInIncomeStatement,DepreciationIncomeStatement,DilutedAverageShares,DilutedEPS,DilutedNIAvailtoComStockholders,...,SpecialIncomeCharges,TaxEffectOfUnusualItems,TaxProvision,TaxRateForCalcs,TotalExpenses,TotalOtherFinanceCost,TotalRevenue,TotalUnusualItems,TotalUnusualItemsExcludingGoodwill,WriteOff
symbol,,,,,,,,,,,,,,,,,,,,,
LT.NS,2017-03-31,12M,1.398524e+09,43.20,7.143937e+11,2.369930e+10,2.369930e+10,1.403264e+09,43.053333,6.041230e+10,...,-2.234300e+09,1.580163e+08,2.006590e+10,0.24180,9.855763e+11,3.078300e+09,1.076359e+12,6.535000e+08,6.535000e+08,4.585500e+09
LT.NS,2018-03-31,12M,1.400614e+09,52.62,7.684784e+11,1.928730e+10,1.928730e+10,1.404183e+09,52.490000,7.369860e+10,...,-1.015240e+10,-9.066366e+09,3.198870e+10,0.27480,1.057527e+12,3.715900e+09,1.179081e+12,-3.299260e+10,-3.299260e+10,1.205380e+10
LT.NS,2019-03-31,12M,1.402087e+09,63.51,9.058700e+11,2.084000e+10,2.084000e+10,1.404545e+09,63.400000,8.905130e+10,...,-1.111230e+10,-3.314346e+09,4.343340e+10,0.29790,1.241052e+12,3.844100e+09,1.391381e+12,-1.112570e+10,-1.112570e+10,1.552610e+10
LT.NS,2020-03-31,12M,1.403370e+09,68.04,8.909388e+11,2.462270e+10,2.462270e+10,1.405223e+09,67.950000,9.549030e+10,...,-2.143630e+10,-3.525233e+09,3.263200e+10,0.24390,1.284816e+12,4.436200e+09,1.443080e+12,-1.445360e+10,-1.445360e+10,2.110350e+10
LT.NS,2020-12-31,TTM,NaN,NaN,7.603320e+11,2.798380e+10,2.798380e+10,NaN,NaN,1.148719e+11,...,NaN,0.000000e+00,2.890400e+10,0.26917,1.174745e+12,NaN,1.309921e+12,NaN,NaN,NaN